html {
  box-sizing: border-box;
  overflow: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  height: auto; /* override */
  font-family: 'Source Sans Pro', sans-serif;
}

i.ico {
  font-size: 24px;
}

i.ico--withLabel {
  padding-right: 8px;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}





/*span {*/
  /*width: auto;*/
/*}*/

.where {
  margin-top: 4px;
  margin-bottom: 4px;
}

.env {
  color: #fff;
  border-radius: 2px;
  background-color: #999;
  padding: 1px 4px;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.env--prod {
  background-color: #BB221E;
}

.arrow {
  display: inline-block;
  width: 4px;
  height: 6px;
  margin: 0 8px;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #999;
}

.verPill {
  display: inline-block;
  border-radius: 16px;
  padding: 1px 7px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #999;
}

.verPill--old {
  opacity: 0.5;
}

.time--italics {
  font-style: italic;
  margin-left: 8px;
}

.mdAction {
  font-weight: 600;
  color: #444;
}



i.ico-btn {
  font-size: 20px;
  /*border: 1px solid #ccc;*/
  color: #999;
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 4px;
  margin: 2px 4px;
}
i.ico-btn:hover {
  background-image: linear-gradient(to bottom, rgba(160,180,220,0.15), rgba(160,180,220,0.15));
}





a[target="_blank"] {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
}

a:hover[target="_blank"]:before {
  content: '\e942';
  font-family: 'icomoon';
  position: absolute;
  width: calc(100% + 2.25em);
  height: calc(100% + .5em);
  background-color: white;
  margin-top: -0.25em;
  margin-left: -.5em;
  left: 0;
  padding-right: .5em;
  border-radius: .125em;
  text-align: right;
  transform: translateZ(-1px);
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


p {
  font-size: 14px;
}


.Body {
  margin-top: 56px;
  display: flex;
  /*justify-content: space-between;*/
}

.Routes {
  flex: 1 1 auto;
  margin: 0 16px;
  max-width: 1600px;
}