@value variables: "./_variables.module.css";
@value colorHeader, mobile from variables;

.BreadCrumb {
  color: colorHeader;
  font-size: 24px;
  margin: 16px 0;
  text-align: center;
  line-height: 48px;
}

@media mobile {
  .BreadCrumb {
    font-size: 18px;
  }
}