@value variables: "./_variables.css";
@value color-placeholder, mobile from variables;

.ContentArea {
  background-color: color-placeholder;
  margin: 0 16px;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

@media mobile {
  .ContentArea {
    margin: 0 8px;
  }
}

.content {
  background-color: color-placeholder;
}