@value variables: "./_variables.module.css";
@value colorPlaceholder, mobile from variables;

.ContentArea {
  background-color: colorPlaceholder;
  margin: 0 16px;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

@media mobile {
  .ContentArea {
    margin: 0 8px;
  }
}

.content {
  background-color: colorPlaceholder;
}