@value variables: "./_variables.module.css";
@value headerHeight, gradientHover, colorGrayMid, pageAndObjectRowHeaderHeights, mobile from variables;



.Filters {
  flex: 0 0 200px;
  margin-right: 16px;
  /*background-color: rgba(0,0,0,0.1);*/
}

.content {
  position: sticky;
  top: pageAndObjectRowHeaderHeights;
}

.scrolly {
  /*background-color: rgba(0,0,0,0.1);*/
  height: calc(100vh - pageAndObjectRowHeaderHeights);
  overflow: scroll;
}

.facetTitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: colorGrayMid;
  margin-top: 16px;
}


.facet {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 14px;
  cursor: pointer;
  color: colorGrayMid;
  padding-left: 8px;
}

.facet:hover {
  background: gradientHover;
}

.facetCheckbox {
  flex: 0 0 16px;
  height: 16px;
  background-color: rgba(0,0,0,0.1);
  margin-right: 8px;
}

.facetName {
  flex: 1 0 auto;
}