@value variables: "./_variables.module.css";
@value webRowHeight, colorSubHeader, colorSubHeaderLight, colorMainRow, colorSubRow, gradientHover, mobile from variables;


.FunctionRow {
  position: relative;
}
.FunctionRow:last-child {
  margin-bottom: 64px;
}
@media mobile {
  .FunctionRow {
    margin-left: 0;
  }
}


.mainRow {
  display: flex;
  align-items: center;
  background-color: colorMainRow;
  height: webRowHeight;
  margin-bottom: 1px;
  margin-left: 40px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 700;
  color: colorSubHeader;
  cursor: pointer;

  position: relative;
}

@media mobile {
  .mainRow {
    height: 48px;
    margin-left: 0;
  }
}


.mainRowClicker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.mainRowClicker:hover {
  background-image: gradientHover;
}







.mainRowExpanded {
  margin-bottom: 4px;
}

/* used with lambda and carrot icons */
.iconContainer {
  margin-right: 8px;
  color: colorSubHeaderLight;
  display: flex;
  align-items: center;
  flex: 0 0 24px;
}

.buttonContainer {
  /*padding: 4px;*/
  /*display: flex;*/
  align-items: center;
  flex: 1 0 auto;

  position: relative;
  z-index: 1;
}

.functionName {
  flex: 1 1 100%;
}

.divider {
  margin: 0 8px;
  color: #999;
}






.version {
  composes: Functions from "./TableLayouts.module.css";

  height: webRowHeight;
  background-color: colorSubRow;
  margin-bottom: 1px;
  font-size: 13px;
  font-weight: 700;
  color: colorSubHeader;
}
.version > div:first-child {
  padding-left: 16px;
}
.version:hover {
  background-image: gradientHover;
}
.version:last-child {
  margin-bottom: 32px;
}
@media mobile {
  .version {
    height: 48px;
  }
}