@value variables: "./_variables.module.css";
@value colorMainRow, colorSubRow, gradientHover from variables;


.FunctionRow {
  position: relative;
}

.FunctionRow:last-child {
  margin-bottom: 64px;
}

.mainRow {
  display: flex;
  align-items: center;
  background-color: colorMainRow;
  height: 48px;
  margin: 0 0 1px 40px;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  cursor: pointer;
}

.mainRow:hover {
  background-image: gradientHover;
}

.mainRowExpanded {
  margin: 0 0 4px 40px;
}

.iconContainer {
  margin-right: 8px;
  color: #999;
  display: flex;
  align-items: center;
  flex: 0 0 24px;
}

.functionName {
  flex: 1 1 100%;
}

.divider {
  margin: 0 8px;
  color: #999;
}




.version {
  composes: Functions from "./TableLayouts.module.css";

  height: 48px;
  background-color: colorSubRow;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 700;
  color: #666666;
}
.version > div:first-child {
  padding-left: 16px;
}
.version:hover {
  background-image: gradientHover;
}
.version:last-child {
  margin-bottom: 32px;
}