@value variables: "./_variables.module.css";
@value headerHeight, menuWidth, colorKey, colorBg, gradientHover, mobile from variables;


.Header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: headerHeight;
  display: flex;
  align-items: center;
  z-index: 8000;
  background-color: colorBg;
}

.leftSection {
  flex: 0 0 menuWidth;
  display: flex;
  background-color: colorKey;
  color: #fff;
}

.leftSectionClosed {
  flex: 0 0 160px;
  background-color: colorBg;
  color: colorKey;
}



.centerSection {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.menuButton {
  flex: 0 0 48px;
  height: headerHeight;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton:hover {
  background-image: gradientHover;
}

.logo {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  color: inherit;
}

.logo:focus {
  text-decoration: none;
  color: #fff;
}

.logo:hover {
  background-image: gradientHover;
}

@media mobile {
  .logo {
    flex: 1 1 100%;
    margin-right: 48px;
  }

  .logo:hover {
    background-color: transparent;
  }
}