@value variables: "./_variables.module.css";
@value gradientHover, colorBg, colorSubHeaderLight, colorBgEmphasis, colorTableRowMid, gradientHover, colorTextMid, colorHeaderDark, mobile, shadow1 from variables;


.TableRow:last-child {
  margin-bottom: 64px;
}

.mainRow {
  composes: ManagedDeliveryHistory from "./TableLayouts.module.css";

  min-height: 48px;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  font-size: 13px;
  padding: 8px 0;
  flex-wrap: wrap;
}

.mainRow:hover {
  background-image: gradientHover;
}
@media mobile {
  .mainRow {
    padding: 0 8px 16px 8px;
    margin: 16px 0;
    border-bottom: 1px solid #ccc;
  }
  .mainRow:hover {
    background-color: transparent;
  }
}


.expanded {
  position: sticky;
  top: 48px;
  background-color: colorBgEmphasis;
  z-index: 1;
}
.expanded:hover {
  background-image: gradientHover;
}
@media mobile {
  .expanded {
    position: static;
    margin: 16px 0 0 0;
    padding-left: 6px; /*for border */
    border-left: 2px solid colorHeaderDark;
    border-bottom: none;
  }
  .expanded:hover {
    background-color: colorBgEmphasis;
  }
}


.subContainer {
  background-color: colorBgEmphasis;
  padding: 16px 0 0 16px;
  margin-bottom: 16px;

  overflow-x: scroll;
  position: relative;
  z-index: 0;
}
@media mobile {
  .subContainer {
    border-left: 2px solid colorHeaderDark;
  }
}

.mobileTitle {
  flex: 0 0 100%;
  font-weight: 900;
  margin-top: 8px;
  color: colorHeaderDark;
}

.mobileContent {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4px;
  margin-left: 4px;
}

.iconContainer {
  color: colorSubHeaderLight;
}