@value variables: "./_variables.module.css";
@value colorBg, colorHeader, gradientHover, shadow5, mobile from variables;


.Modal {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

.frame {
  position: relative;
  border-radius: 8px;
  box-shadow: shadow5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  max-width: 1400px;
  max-height: calc(100% - 64px);
  min-height: 320px;
}
@media mobile {
  .frame {
    max-height: calc(100% - 32px);
    width: calc(100% - 24px);
  }
}

/* for large screens, place an eventual cap on the height of a modal */
@media screen and (min-height: 1164px) {
  .frame {
    max-height: 1100px;
  }
}


.header {
  flex: 1 0 auto;
  background-color: colorHeader;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
}


.body {
  flex: 1 1 auto;
  overflow: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  background-color: colorBg;
  padding: 0 64px;
}
@media mobile {
  .body {
    padding: 0 8px;
  }
}


.footer {
  flex: 0 0 64px;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 4px 4px rgba(0,0,0,0.12), 0 6px 12px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  padding: 0 16px;
}
.footerLeft {
  flex: 1 1 100%;
  margin-right: 16px;
  color: #666;
}

.footerRight {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

@media mobile {
  .footer {
    flex: 0 0 100%;
    padding: 0 12px;
    flex-wrap: wrap;
  }
  .footerLeft {
    text-align: center;
    margin: 8px 0;
  }
}


.title {
  margin: 10px 16px;
  font-size: 22px;
  font-weight: 500;
  flex: 1 1 100%;
  word-break: break-all;
}
@media mobile {
  .title {
    margin: 4px 12px;
    font-size: 18px;
  }
}


.close {
  flex: 0 0 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
}
.close:hover {
  background-image: gradientHover;
}
@media mobile {
  .close {
    flex: 0 0 48px;
    height: 48px;
  }
}