@value variables: "./_variables.module.css";
@value colorSubHeader, colorSubHeaderDark, colorMainRow, colorInfo, colorInfoBg, colorWarn, colorWarnBg, colorError, colorErrorBg, colorInactive, colorInactiveBg, colorGood, colorGoodBg from variables;


.NoticeCard {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 13px;
  margin: 0 16px 2px 0;
  color: colorSubHeaderDark;
  background-color: colorMainRow;
  justify-content: space-between;
  align-items: center;
}


.NoticeCard.error {
  background-color: colorErrorBg;
}
.NoticeCard.warn {
  background-color: colorWarnBg;
}
.NoticeCard.info {
  background-color: colorInfoBg;
}
.NoticeCard.good {
  background-color: colorGoodBg;
}
.NoticeCard.inactive {
  background-color: colorInactiveBg;
}
.NoticeCard.upcoming {
  background-color: transparent;
  color: colorSubHeader;
}



.message {
  flex: 0 1 auto;
  display: flex;
}
.iconContainer {
  flex: 0 0 40px;
  height: 40px;
  margin-right: 16px;
}
.textContainer {
  flex: 0 1 600px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.buttons {
  flex: 1 0 auto;
  text-align: right;
  margin-left: 8px;
}




@keyframes warnStrobe {
  0% { background-color: transparent; }
  20% { background-color: colorWarnBg; }
  40% { background-color: transparent; }
  60% { background-color: colorWarnBg; }
  80% { background-color: transparent; }
  100% { background-color: colorWarnBg; }
}