@value variables: "./_variables.module.css";
@value webRowHeight, colorRowRule, gradientHover, colorBg, mobile from variables;


.indent {
  margin: 0 0 0 16px;
}

.ObjectRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-bottom: 1px solid colorRowRule;
  height: webRowHeight;

  padding: 0 8px;
  position: relative;

  font-weight: 700;
  font-size: 14px;
  color: #666666;

  background-color: colorBg;
}

.ObjectRow:hover {
  background-image: gradientHover;
}




/*.mainClickArea {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*height: 100%;*/
  /*width: 100%;*/
/*}*/
/*.mainClickArea:hover {*/
  /*background-image: gradientHover;*/
/*}*/


.leftCol {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 32px;
}

.leftCol i {
  margin-right: 8px;
}

.rowTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}




.centerCol {
  flex: 0 0 400px;
  /*background-color: rgba(0,0,0,0.1);*/
  display: flex;
  align-items: center;
}

.rightCol {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
}