@value variables: "./_variables.module.css";
@value colorKey, colorSubHeaderDark, colorBg, headerHeight, shadow4, mobile from variables;


.SideNav {
  flex: 0 0 248px;
  position: relative;
}

@media mobile {
  .SideNav {
    position: fixed;
    z-index: 7000;
  }
}

.navContainer {
  position: fixed;
  z-index: 7000;
  width: 248px;
  top: headerHeight;
  bottom: 0;
  background-color: colorKey;
  display: flex;
  flex-direction: column;
}

.navContent {
  overflow: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  padding: 16px 0;
  background-color: colorBg;
  /*padding: 0 0 80px;*/
  /*flex: 1 1 100%;*/
}

@media mobile {
  .navContent {
    padding-top: 0;
    box-shadow: shadow4;
  }
}


.section {
  background-color: red;
  height: 48px;
}
.activeSection {
  background-color: cyan;
  color: #000;
}


/*
.scrollFader {
  position: relative;
}

.scrollFader:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
}
*/



.sectionHeader {
  border-bottom: 1px solid colorSubHeaderDark;
  margin: 8px 8px 0 8px;
  display: flex;
  align-items: center;
  height: 40px;
}

.sectionHeaderIcon {
  flex: 0 0 40px;
  padding: 0 8px;
}

.sectionHeaderName {
  flex: 1 1 auto;
  font-size: 17px;
  color: colorSubHeaderDark;
  font-weight: 600;
}
