@value variables: "./_variables.module.css";
@value gradientHover, colorHeader, colorHeaderDark, colorSubHeader, colorBg, mobile from variables;


.headerContainer {
  position: sticky;
  z-index: 100;
  background-color: colorBg;
  border-bottom: 2px solid colorHeader;
  display: flex;
  align-items: flex-end;
}

.header {
  font-weight: 600;
  color: colorHeaderDark;
  font-size: 13px;
  width: 100%;
  align-items: flex-end;
  min-height: 46px;
}

.header > div {
  align-items: flex-end;
  padding-bottom: 6px;
}

.sortable {
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  height: 32px;
}

.sortable:hover {
  background-image: gradientHover;
}

.sortArrow {
  border-radius: 16px;
  background-color: colorHeader;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-bottom: 1px;
  position: relative;
}

.sortArrowDescending:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid colorBg;
}

.toggleAll {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border-radius: 16px 16px 0 0;
  height: 32px;
}
.toggleAll:hover {
  background-image: gradientHover;
}

.toggleAll i {
  margin-bottom: -4px;
}