@value variables: "./_variables.css";
@value gradient-hover, color-header--dark, color-subheader, color-bg, mobile from variables;




.headerContainer {
  position: sticky;
  z-index: 2;
  background-color: color-bg;
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  display: flex;
  align-items: flex-end;
}

.header {
  font-weight: 600;
  color: color-header--dark;
  font-size: 13px;
  padding: 0 16px;
  /*flex-wrap: no-wrap;*/
  width: 100%;
  /*height: 100%;*/
  align-items: flex-end;
  min-height: 48px;
}

.header > div {
}

.toggleAll {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  border-radius: 16px 16px 0 0;
  height: 32px;
}
.toggleAll:hover {
  background-image: gradient-hover;
}

.toggleAll i {
  margin-bottom: -4px;
}