@value variables: "./_variables.css";
@value mobile from variables;


.ManagedDeliveryHistory {
  display: flex;
}

.ManagedDeliveryHistory > div {
   display: flex;
   align-items: center;
   margin-right: 16px;
 }

.ManagedDeliveryHistory > div:nth-child(1) {
  flex: 4 1 15%;
}
.ManagedDeliveryHistory > div:nth-child(2) {
  flex: 1 1 15%;
}
.ManagedDeliveryHistory > div:nth-child(3) {
  flex: 2 1 15%;
}
.ManagedDeliveryHistory > div:nth-child(4) {
  flex: 0 0 48px;
  justify-content: center;
}
.ManagedDeliveryHistory > div:last-child {
  margin-right: 0;
}


@media mobile {
  .ManagedDeliveryHistory > div {
    flex-wrap: wrap;
  }
  .ManagedDeliveryHistory > div:nth-child(1) {
    flex: 0 0 100%;
  }
  .ManagedDeliveryHistory > div:nth-child(2) {
    flex: 0 0 100%;
  }
  .ManagedDeliveryHistory > div:nth-child(3) {
    flex: 0 0 100%;
  }
  .ManagedDeliveryHistory > div:nth-child(4) {
    display: none;
  }
  .ManagedDeliveryHistory > div:last-child {
    margin-right: 0;
  }
}







.Functions {
  display: flex;
  margin-left: 80px;
}

.Functions > div {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.Functions > div:nth-child(1) {
  flex: 1 1 288px;
}
.Functions > div:nth-child(2) {
  flex: 1 1 200px;
}
.Functions > div:nth-child(3) {
  flex: 1 1 200px;
}
.Functions > div:nth-child(4) {
  flex: 1 1 200px;
}
.Functions > div:last-child {
  margin-right: 0;
}


@media mobile {
  .Functions {
    /*padding: 0 0 26px 0;*/
    /*margin: 16px 0;*/
    /*border-bottom: 1px solid #ccc;*/
  }
  .Functions > div {
    flex-wrap: wrap;
  }
  .Functions > div:nth-child(1) {
    flex: 0 0 100%;
  }
  .Functions > div:nth-child(2) {
    flex: 0 0 100%;
  }
  .Functions > div:nth-child(3) {
    flex: 0 0 100%;
  }
  .Functions > div:nth-child(4) {
    display: none;
  }
  .Functions > div:last-child {
    margin-right: 0;
  }
}