@value variables: "./_variables.module.css";
@value gradientHover, colorHeader--xlight, colorHeader--light, colorHeader--dark, mobile from variables;

.TopLevelNav {
  display: flex;
  height: 100%;
}

.TopLevelNav a {
  display: flex;
  color: #fff;
  flex-direction: column;
  padding: 0 16px;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 14px;
}

.TopLevelNav a:focus {
  color: #fff;
}

.TopLevelNav a:hover {
  background-image: gradientHover;
  color: #fff;
}

.active {
  box-shadow: inset 0 -6px 0 -3px colorHeader--xlight;
}


@media mobile {
  .TopLevelNav {
    flex-direction: column;
    height: auto;
    margin-bottom: 16px;
  }

  .TopLevelNav a {
    height: 48px;
    background-color: colorHeader--light;
    border-top: 1px solid rgba(255,255,255,0.5);
    text-align: left;
  }

  .TopLevelNav a:hover {
    background-color: colorHeader--light;
  }

  .active {
    box-shadow: inset -12px 0 0 -6px colorHeader--dark;
  }
}
